.App {
  text-align: center;
}
.mainbtn {
  margin: 20px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px rgb(87, 87, 87);
  padding: 16px;
  text-align: center;
}
.inputfield {
  margin: 20px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px rgb(87, 87, 87);
  padding: 16px;
  text-align: center;
}